<!doctype html>
<html>
  <head>
    <title>TED2019: Bigger than us | April 15-19, 2019 | Vancouver, BC, Canada</title>
    <meta property="og:image" content="efzmunc.github.io/assets/efzbk.jpg" />
    <meta property="og:title" content="TED2019: Bigger than us | April 15-19, 2019 | Vancouver, BC, Canada" />
    <meta property="og:description" content="TED2019: Bigger than us, takes place April 15-19. Get information about attending and news from the conference as it happens." />
    <meta property="og:url" content="https://ted2019.ted.com" />

    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link rel="stylesheet" media="all" href="https://fast.fonts.net/cssapi/f49ba5cc-3e7e-4d27-8f73-2148d469055c.css" />
    <link rel="stylesheet" media="all" href="efzmunc.github.io/assets/ted2019/application-2e5968d5e554cc6a19e1659099f9bdacd07f64e05b3a4a4858fc5b097f4e13c4.css" />
    <script src="efzmunc.github.io/assets/ted2019/application-0d849d98cc377d9d5fea6c651d4184459dc998a055be1b497a40903039333087.js"></script>
  </head>
  <body>
    <header class="ph3 pt6 pb6 bg-cv bg-pos-y-bottom bg-pos-x-center flex flex-column" style="background-image: url(https://efzmunc.github.io/assets/ted2019/bkground.jpg);">
  <div class="center mw7-l mw8-xl w-80-l w-90 mb5">
    <div class="mw-100 tc mb3">
      <img src="efzmunc.github.io/assets/ted2019/blank.jpg" class="Logo">
    </div>
    <div class="white tc ttu feat-text fw5 pl3 lh-title">
      
    </div>
  </div>

</header>

<div class="pa4 pv6-l c-natural-black bg-white">
  <div class="mw8 center tc">
     <div class="f4 f3-l tl lh-copy">
      <p class="Serif pb3 fw7 db tc feat-text lh-title">
        <span class="i">“When it is dark enough, you can see the stars."</span> ― Ralph Waldo Emerson
      </p>

      <p class="Serif pb3">
        The political and technological turmoil of the past few years has had unexpected consequences: it’s causing us to ask bigger, deeper, more challenging questions. Like … where is this heading? what really matters? is there more I should be doing?
      </p>

      <p class="Serif pb3">
        For TED in 2019, we’re joining that search for deeper meaning. We’ll be exploring technologies that evoke wonder and tantalize with superhuman powers, mind-bending science that will drive the future as significantly as any politician, the design of cities and other powerful human systems that shape our lives, awe-inspiring, mind-expanding creativity and most of all, the inspiring possibilities that happen when we ask what ideas are truly worth fighting for, worth living for.
      </p>
    </div>
  </div>
</div>

<div class="Image-ribbon flex flex-column flex-row-ns">
    <div
      class="w-100 h5 h6-l h7-xl h7-xxl bg-cv bg-pos-xy-center"
      style="background-image: url(https://pi.tedcdn.com/r/ted2019.ted.com/assets/ted2019/ribbons/TED2017_042417_3RL4567-989cb4070f2eb5db9100f67ea125e4019f4e704c4a074fe4059c164907e0b559.jpg?quality=77&amp;w=960);"
    ></div>
    <div
      class="w-100 h5 h6-l h7-xl h7-xxl bg-cv bg-pos-xy-center"
      style="background-image: url(https://pi.tedcdn.com/r/ted2019.ted.com/assets/ted2019/ribbons/TED2017_042517_2RL0822-204eefcbefbdd02a1643b7580168e6068cbfdb8ab81bcd847b9428b0fa0a54e7.jpg?quality=77&amp;w=960);"
    ></div>
</div>


<div id="program-guide" class="bg-t19-green white ff-hn ph4 ph5-ns pv5 pv6-l" data-tracked="false">
  <div class="mw-1200px center">
    <h1 class="f2 f1-l mb4 tc">
      A week of ideas and connections
    </h1>

    <p class="mb5 lh-copy f4 f3-l measure-wide center tc Serif">
      Here’s a chance to co-create an unforgettable gathering of minds and souls determined to play our part. The week will unfold as follows:
    </p>

    <div class="Guide flex flex-column flex-row-ns flex-wrap">
  <div class="Guide__card pv3 pa3-ns">
    <div class="relative white h-100 bg-black-15 tc">
      <div class="w-100 Guide__image bg-cv bg-pos-xy-center"
           style="background-image: url(https://pi.tedcdn.com/r/ted2019.ted.com/assets/ted2019/experience/preconf/TED2017_042417_1BH4655-b0fb72c3780ebba4e5d1bec14863896035e11db04a9f19c1daa5535176e4d8bf.jpg?);">
        <div class="guide-overlay w-100 Guide__image absolute bg-black-50">
        </div>

        <div class="pa3 pa4-ns pb3-ns white relative h-100 flex flex-column justify-end">
          <h4 class="ff-hnb f2">
            Pre-conference
          </h4>
        </div>
      </div>
      <div class="Guide__text f5 pa3 pa4-ns">
        <div class="f6 ttu mb3"></div>
        <p class="lh-copy Serif">
          A lineup of tours and experiences are available to browse, from bucket-list experiences to deep dives into local issues ... or simply arrive early to enjoy Vancouver in the spring.
        </p>
      </div>
    </div>
  </div>

  <div class="Guide__card pv4 pa3-ns">
    <div class="relative white h-100 bg-black-15 tc">
      <div class="w-100 Guide__image bg-cv bg-pos-xy-center"
           style="background-image: url(https://pi.tedcdn.com/r/ted2019.ted.com/assets/ted2019/experience/mon/TED2017_042417_1BH4677-e4f49b976c76b96c687f0a908d464cdd016491da2eb99285809196c7406e92c2.jpg?);">
        <div class="guide-overlay w-100 Guide__image absolute bg-black-50">
        </div>

        <div class="pa3 pa4-ns pb3-ns white relative h-100 flex flex-column justify-end">
          <h4 class="ff-hnb f2">
            Monday
          </h4>
        </div>
      </div>
      <div class="Guide__text f5 pa3 pa4-ns">
        <div class="f6 ttu mb3 b">15 april 2019</div>
        <p class="mb3 lh-copy Serif">
          The first day of TED2019 begins with TED Fellows Talks from up-and-coming world-changers. In the evening, the Mainstage talk program kicks off with Session 1, followed by a gala welcome party.
        </p>
      </div>
    </div>
  </div>

  <div class="Guide__card pv3 pa3-ns">
    <div class="relative white h-100 bg-black-15 tc">
      <div class="w-100 Guide__image bg-cv bg-pos-xy-center"
           style="background-image: url(https://pi.tedcdn.com/r/ted2019.ted.com/assets/ted2019/experience/tues/TEDFest2017_DL_IMG_3465-5dafc6365b78c0c30f8bb372477c8df10de14ad8a6311b37008d2361172d8332.jpg?);">
        <div class="guide-overlay w-100 Guide__image absolute bg-black-0">
        </div>

        <div class="pa3 pa4-ns pb3-ns white relative h-100 flex flex-column justify-end">
          <h4 class="ff-hnb f2">
            Tuesday
          </h4>
        </div>
      </div>
      <div class="Guide__text f5 pa3 pa4-ns">
        <div class="f6 ttu mb3 b">16 april 2019</div>
        <p class="lh-copy Serif">
          Three sessions of mainstage talks and activity and workshops to engage in. The evening's Open Night allows you to plan your own dinner parties.
        </p>
      </div>
    </div>
  </div>

  <div class="Guide__card pv3 pa3-ns">
    <div class="relative white h-100 bg-black-15 tc">
      <div class="w-100 Guide__image bg-cv bg-pos-xy-center"
           style="background-image: url(https://pi.tedcdn.com/r/ted2019.ted.com/assets/ted2019/experience/weds/TED2017_042717_2MA8631-cf563dae4596aab8c6286adc9902a446a21b8c740cc21ff4ab365a3d844f9219.jpg?);">
        <div class="guide-overlay w-100 Guide__image absolute bg-black-50">
        </div>

        <div class="pa3 pa4-ns pb3-ns white relative h-100 flex flex-column justify-end">
          <h4 class="ff-hnb f2">
            Wednesday
          </h4>
        </div>
      </div>
      <div class="Guide__text f5 pa3 pa4-ns">
        <div class="f6 ttu mb3 b">17 april 2019</div>
        <p class="lh-copy Serif">
          Between speaker sessions, explore the Loop outside the theater, with exhibits, cafés and spaces for conversation. In the evening, join an intimate dinner with a curated guest list around a topic of mutual interest.
        </p>
      </div>
    </div>
  </div>

  <div class="Guide__card pv3 pa3-ns">
    <div class="relative white h-100 bg-black-15 tc">
      <div class="w-100 Guide__image bg-cv bg-pos-xy-center"
           style="background-image: url(https://pi.tedcdn.com/r/ted2019.ted.com/assets/ted2019/experience/thurs/TED2017_042817_1BH0512-f640c5950485f8acb8dca0e8ee703a39ff68ecdd10bc86f7f093a3ace581a263.jpg?);">
        <div class="guide-overlay w-100 Guide__image absolute bg-black-50">
        </div>

        <div class="pa3 pa4-ns pb3-ns white relative h-100 flex flex-column justify-end">

          <h4 class="ff-hnb f2">
            Thursday
          </h4>
        </div>
      </div>
      <div class="Guide__text f5 pa3 pa4-ns">
        <div class="f6 ttu mb3 b">18 april 2019</div>
        <p class="lh-copy Serif">
          More mainstage talks, more workshops and activities, and ever more opportunities to connect over lunches and breaks. In the evening, kick up your heels at our Grand Party.
        </p>
      </div>
    </div>
  </div>

  <div class="Guide__card pv3 pa3-ns">
    <div class="relative white h-100 bg-black-15 tc">
      <div class="w-100 Guide__image bg-cv bg-pos-xy-center"
           style="background-image: url(https://pi.tedcdn.com/r/ted2019.ted.com/assets/ted2019/experience/fri/TED2017_042417_3RL5107_r-f890b46f1ce94eea3c429b91decfd32e3d742d5600cc52b0b42534f7cedc33d3.jpg?);">
        <div class="guide-overlay w-100 Guide__image absolute bg-black-50">
        </div>

        <div class="pa3 pa4-ns pb3-ns white relative h-100 flex flex-column justify-end">

          <h4 class="ff-hnb f2">
            Friday
          </h4>
        </div>
      </div>
      <div class="Guide__text f5 pa3 pa4-ns">
        <div class="f6 ttu mb3 b">19 april 2019</div>
        <p class="lh-copy Serif">
          The climax of the week's speaker program, Friday morning’s epic final session will celebrate and sum up the week. Afterward, join a family-style picnic with your fellow TEDsters.
        </p>
      </div>
    </div>
  </div>

  <div class="Guide__card"></div>
  <div class="Guide__card"></div>
  <div class="Guide__card"></div>
</div>

  </div>
</div>

  <div id="membership" class="Membership ph4 ph5-ns pv5 pv6-l bg-t19-blue white ff-hn" data-tracked="false">
    <h1 class="f3 f2-l mb4 tc">
      Membership options and benefits
    </h1>

    <p class="mb5 lh-copy f4 measure-wide center tc Serif">
      The TED community actively seeks new members who are leaders in their field and who can make a strong contribution.
      We review each application in detail, and look forward to reading yours. TED2019 will be an event not to be missed!
      Questions? Send us a note to
      <a class="white underline" href="mailto:conferences@ted.com">conferences@ted.com</a>.
    </p>

    <div class="mw8 f5 center">
      <div class="dn db-l">
        <table class="w-100">
  <tr>
    <td class="bb b--white-10">
      &nbsp;
    </td>
    <td class="w-20 mw5 b pa3 bb b--white-10 bg-white-10">
      Vanguard
    </td>
    <td class="w-20 mw5 b pa3 bb b--white-10">
      Standard
    </td>
    <td class="w-20 mw5 b pa3 bb b--white-10 bg-white-10">
      Donor
    </td>
    <td class="w-20 mw5 b pa3 bb b--white-10">
      Patron
    </td>
  </tr>
  <tr>
    <td class="pv3 bb b--white-10">
      Conference attendance
    </td>
    <td class="pa3 bb b--white-10 bg-white-10">
      &check;
    </td>
    <td class="pa3 bb b--white-10">
      &check;
    </td>
    <td class="pa3 bb b--white-10 bg-white-10">
      &check;
    </td>
    <td class="pa3 bb b--white-10">
      &check;
    </td>
  </tr>
  <tr>
    <td class="pv3 bb b--white-10">
      Online networking access
    </td>
    <td class="pa3 bb b--white-10 bg-white-10">
      &check;
    </td>
    <td class="pa3 bb b--white-10">
      &check;
    </td>
    <td class="pa3 bb b--white-10 bg-white-10">
      &check;
    </td>
    <td class="pa3 bb b--white-10">
      &check;
    </td>
  </tr>
  <tr>
    <td class="pv3 bb b--white-10">
      Conference video archive
    </td>
    <td class="pa3 bb b--white-10 bg-white-10">
      &check;
    </td>
    <td class="pa3 bb b--white-10">
      &check;
    </td>
    <td class="pa3 bb b--white-10 bg-white-10">
      &check;
    </td>
    <td class="pa3 bb b--white-10">
      &check;
    </td>
  </tr>
  <tr>
    <td class="pv3 bb b--white-10">
      Recognition in the program
    </td>
    <td class="pa3 bb b--white-10 bg-white-10">

    </td>
    <td class="pa3 bb b--white-10">

    </td>
    <td class="pa3 bb b--white-10 bg-white-10">
      &check;
    </td>
    <td class="pa3 bb b--white-10">
      &check;
    </td>
  </tr>
  <tr>
    <td class="pv3 bb b--white-10">
      Early theater access
    </td>
    <td class="pa3 bb b--white-10 bg-white-10">

    </td>
    <td class="pa3 bb b--white-10">

    </td>
    <td class="pa3 bb b--white-10 bg-white-10">
      &check;
    </td>
    <td class="pa3 bb b--white-10">
      &check;
    </td>
  </tr>
  <tr>
    <td class="pv3 bb b--white-10">
      Patron concierge services
    </td>
    <td class="pa3 bb b--white-10 bg-white-10">

    </td>
    <td class="pa3 bb b--white-10">

    </td>
    <td class="pa3 bb b--white-10 bg-white-10">

    </td>
    <td class="pa3 bb b--white-10">
      &check;
    </td>
  </tr>
  <tr>
    <td class="pv3 bb b--white-10">
      Eligibility
    </td>
    <td class="pa3 bb b--white-10 bg-white-10">
      <div class="f6">
        Early career, never attended TED
      </div>
    </td>
    <td class="pa3 bb b--white-10">
      <div class="f6">

      </div>
    </td>
    <td class="pa3 bb b--white-10 bg-white-10">
      <div class="f6">

      </div>
    </td>
    <td class="pa3 bb b--white-10">
      <div class="f6">

      </div>
    </td>
  </tr>
  <tr>
    <td class="pv3 bb b--white-10">
      Support for TED's mission
    </td>
    <td class="pa3 bb b--white-10 bg-white-10">
      &bull;
      <div class="bg-white-10 dn">
        <div class="h1 w-100 bg-white-30"></div>
      </div>
    </td>
    <td class="pa3 bb b--white-10">
      &bull; &bull;
      <div class="bg-white-10 dn">
        <div class="h1 w-40 bg-white-30"></div>
      </div>
    </td>
    <td class="pa3 bb b--white-10 bg-white-10">
      &bull; &bull; &bull; &bull;
      <div class="bg-white-10 dn">
        <div class="h1 w-20 bg-white-30"></div>
      </div>
    </td>
    <td class="pa3 bb b--white-10">
      &bull; &bull; &bull; &bull; &bull; &bull; &bull; &bull;
      <div class="bg-white-10 dn">
        <div class="h1 w-10 bg-white-30"></div>
      </div>
    </td>
  </tr>
  <tr>
    <td class="pv3 bb b--white-10">
      Attendance fee
    </td>
    <td class="pa3 bb b--white-10 bg-white-10">
      US $5,000
      <div class="f6 normal mt1">Limited availability</div>
    </td>
    <td class="pa3 bb b--white-10">
      US $10,000
    </td>
    <td class="pa3 bb b--white-10 bg-white-10">
      US $25,000
    </td>
    <td class="pa3 bb b--white-10">
      US $250,000
      <div class="f6 normal mt1">5-year membership</div>
    </td>
  </tr>
  <tr>
    <td>
      &nbsp;
    </td>
    <td class="pa3 bg-white- 10">
      <a href="https://www.ted.com/attend/conferences/ted-conference#h3--ted-conference-vanguard-membership"
        class="learn-more white underline"
        data-label="Vanguard">
        Learn more
      </a>
    </td>
    <td class="pa3">
      <a href="https://www.ted.com/attend/conferences/ted-conference#h3--ted-conference-standard-membership"
        class="learn-more white underline"
        data-label="Standard">
        Learn more
      </a>
    </td>
    <td class="pa3 bg-white- 10">
      <a href="https://www.ted.com/attend/conferences/ted-conference#h3--ted-conference-donor-membership"
        class="learn-more white underline"
        data-label="Donor">
          Learn more
      </a>
    </td>
    <td class="pa3">
      <a href="https://www.ted.com/attend/conferences/ted-conference#h3--ted-conference-patron-membership"
        class="learn-more white underline"
        data-label="Patron">
          Learn more
      </a>
    </td>
  </tr>
  <tr>
    <td>
      &nbsp;
    </td>
    <td class="pa3 pr0">
      <div class="dib f6 b c-white-40 ba b-white-40 bw1 pv3 ph4 ttu mb3">
        Sold Out
      </div>
      <a class="db f6 white underline" href="http://eepurl.com/dsZ6jv?1">Join waitlist</a>
    </td>
    <td class="pa3 pr0">
      <div class="dib f6 b c-white-40 ba b-white-40 bw1 pv3 ph4 ttu mb3">
        Sold Out
      </div>
      <a class="db f6 white underline" href="http://eepurl.com/dsZ6jv?1">Join waitlist</a>
    </td>
    <td class="pa3 pr0 bg-white- 10">
      <a class="dib f6 b white ba b--white bw1 pv3 ph4 white-hover-gray" href="https://goto.ted.com/candidates/new/843458c1252c6a9e30dc2deac8fad837?1">Apply now</a>
    </td>
    <td class="pa3 pr0">
      <a class="dib f6 b white ba b--white bw1 pv3 ph4 white-hover-gray" href="mailto:conferences@ted.com?subject=Patron membership&amp;?1">Contact us</a>
    </td>
  </tr>
</table>

      </div>
      <div class="db dn-l">
        <div class="mb5 pa4 bg-white-10 center">
  <h2 class="f2 lh-title mb3 tc pb4 bb b--white-20">
    Vanguard
    <div class="f5">Limited availability</div>
  </h2>

  <ul class="f5 mb4 tc">
    <li class="mb3 lh-title">
      Conference attendance
    </li>
    <li class="mb3 lh-title">
      Online networking access
    </li>
    <li class="lh-title">
      Conference video archive
    </li>
  </ul>

  <div class="tc mv5">
    <div class="tc mb3 f4 lh-copy">Eligibility</div>
     Young, early career, never attended TED.
  </div>

  <div class="tc">
    <div class="f4 mb3">
      US $5,000
    </div>

    <a href="https://www.ted.com/attend/conferences/ted-conference#h3--ted-conference-vanguard-membership"
      class="db mb4 white underline">
      Learn more
    </a>

    <div class="dib f6 b white ba b-white-40 c-white-40 bw1 pv3 ph4 ttu mb3">
      Sold Out
    </div>

    <a class="db f6 white underline" href="http://eepurl.com/dsZ6jv?1">Join waitlist</a>
  </div>
</div>


<div class="mb5 pa4 bg-white-10 center">
  <h2 class="f2 lh-title mb3 tc pb4 bb b--white-20">
    Standard
  </h2>

  <ul class="f5 mb4 tc">
    <li class="mb3 lh-title">
      Conference attendance
    </li>
    <li class="mb3 lh-title">
      Online networking access
    </li>
    <li class="lh-title">
      Conference video archive
    </li>
  </ul>

  <div class="tc mv5">

  </div>

  <div class="tc">
    <div class="f4 mb3">
      US $10,000
    </div>

    <a href="https://www.ted.com/attend/conferences/ted-conference#h3--ted-conference-standard-membership"
      class="db mb4 white underline">
      Learn more
    </a>

    <div class="dib f6 b white ba b-white-40 c-white-40 bw1 pv3 ph4 ttu mb3">
      Sold Out
    </div>

    <a class="db f6 white underline" href="http://eepurl.com/dsZ6jv?1">Join waitlist</a>
  </div>
</div>

<div class="mb5 pa4 bg-white-10 center">
  <h2 class="f2 lh-title mb3 tc pb4 bb b--white-20">
    Donor
  </h2>

  <ul class="f5 mb4 tc">
    <li class="mb3 lh-title">
      Conference attendance
    </li>
    <li class="mb3 lh-title">
      Online networking access
    </li>
    <li class="mb3 lh-title">
      Conference video archive
    </li>
    <li class="mb3 lh-title">
      Recognition in the program
    </li>
    <li class="lh-title">
      Early theater access
    </li>
  </ul>

  <div class="tc mv5">

  </div>

  <div class="tc">
    <div class="f4 mb3">
      US $25,000
    </div>

    <a href="https://www.ted.com/attend/conferences/ted-conference#h3--ted-conference-donor-membership"
      class="db mb4 white underline">
      Learn more
    </a>

    <a class="dib f6 b white ba b--white bw1 pv3 ph4 white-hover-gray" href="https://goto.ted.com/candidates/new/843458c1252c6a9e30dc2deac8fad837?1">Apply now</a>
  </div>
</div>


<div class="mb5 pa4 bg-white-10 center">
  <h2 class="f2 lh-title mb3 tc pb4 bb b--white-20">
    Patron
    <div class="f5">5 year membership</div>
  </h2>


  <ul class="f5 mb4 tc">
    <li class="mb3 lh-title">
      Conference attendance
    </li>
    <li class="mb3 lh-title">
      Online networking access
    </li>
    <li class="mb3 lh-title">
      Conference video archive
    </li>
    <li class="mb3 lh-title">
      Recognition in the program
    </li>
    <li class="mb3 lh-title">
      Early theater access
    </li>
    <li class="lh-title">
      Patron concierge services
    </li>
  </ul>

  <div class="tc mv5">

  </div>

  <div class="tc">
    <div class="f4 mb3">
      US $250,000
    </div>

    <a href="https://www.ted.com/attend/conferences/ted-conference#h3--ted-conference-patron-membership"
      class="db mb4 white underline">
      Learn more
    </a>

    <a class="dib f6 b white ba b--white bw1 pv3 ph4" href="mailto:conferences@ted.com?subject=Patron membership&amp;?1">Contact us</a>


  </div>
</div>


      </div>
    </div>
  </div>

<div class="Image-ribbon flex flex-column flex-row-ns">
    <div
      class="w-100 h5 h6-l h7-xl h7-xxl bg-cv bg-pos-xy-center"
      style="background-image: url(https://pi.tedcdn.com/r/ted2019.ted.com/assets/ted2019/ribbons/TED2017_042717_2MA7648-07fe908f99347c8f2c0561de73051df56c797cda6671a3699f0ec4b8f414ea0e.jpg?quality=77&amp;w=960);"
    ></div>
    <div
      class="w-100 h5 h6-l h7-xl h7-xxl bg-cv bg-pos-xy-center"
      style="background-image: url(https://pi.tedcdn.com/r/ted2019.ted.com/assets/ted2019/ribbons/TED2017_042717_3RL6018-dae659fa56eb4cd47e9d38e47cf438db2a22d4c214e80f792b372552566928de.jpg?quality=77&amp;w=960);"
    ></div>
</div>


<div id="experience" class="bg-cv bg-pos-xy-center pv5 pv6-l ph4 ph5-ns white ff-hn bg-t19-blue-dark" data-tracked="false">
  <div class="mw-1200px center">
    <h2 class="mb4 f2 f1-l lh-title tc">
      Your conference experience
    </h2>

    <p class="mb5 mb6-l f4 f3-l measure-wide center lh-copy tc Serif">
      Here's what you can expect at TED2019:
    </p>

    <div>
      <div class="Checklist mw8 center">

    <div class="Checklist__item ph0 ph3-m ph4-l flex items-start items-center-l
      mb3 pb3 bb">

      <i aria-hidden="true"
         class="f3 fa fa-angle-right mr3
                Checklist__icon"></i>

      <div class="flex flex-column flex-wrap flex-row-ns w-100-l f5 f4-l items-center">

        <div class="ff-hnb f5 f4-l w-100 w-40-l">
          A five-day stage program
        </div>

          <div class="mt2 mt0-l ff-hn w-100 w-60-l
                      Checklist__description">
            Eleven sessions of TED&#39;s famous 18-minute talks, plus TED Fellows Talks and other surprises
          </div>

      </div>

    </div>


    <div class="Checklist__item ph0 ph3-m ph4-l flex items-start items-center-l
      mb3 pb3 bb">

      <i aria-hidden="true"
         class="f3 fa fa-angle-right mr3
                Checklist__icon"></i>

      <div class="flex flex-column flex-wrap flex-row-ns w-100-l f5 f4-l items-center">

        <div class="ff-hnb f5 f4-l w-100 w-40-l">
          Comfortable simulcast spaces
        </div>

          <div class="mt2 mt0-l ff-hn w-100 w-60-l
                      Checklist__description">
            Watch, tweet, blog ... and connect around powerful ideas
          </div>

      </div>

    </div>


    <div class="Checklist__item ph0 ph3-m ph4-l flex items-start items-center-l
      mb3 pb3 bb">

      <i aria-hidden="true"
         class="f3 fa fa-angle-right mr3
                Checklist__icon"></i>

      <div class="flex flex-column flex-wrap flex-row-ns w-100-l f5 f4-l items-center">

        <div class="ff-hnb f5 f4-l w-100 w-40-l">
          Workshops and activities
        </div>

          <div class="mt2 mt0-l ff-hn w-100 w-60-l
                      Checklist__description">
            Explore new interests and check a few things off your bucket list
          </div>

      </div>

    </div>


    <div class="Checklist__item ph0 ph3-m ph4-l flex items-start items-center-l
      mb3 pb3 bb">

      <i aria-hidden="true"
         class="f3 fa fa-angle-right mr3
                Checklist__icon"></i>

      <div class="flex flex-column flex-wrap flex-row-ns w-100-l f5 f4-l items-center">

        <div class="ff-hnb f5 f4-l w-100 w-40-l">
          Dinners and parties
        </div>

          <div class="mt2 mt0-l ff-hn w-100 w-60-l
                      Checklist__description">
            From gala dance parties to inspired conversations over dinner, many ways to connect around ideas
          </div>

      </div>

    </div>


    <div class="Checklist__item ph0 ph3-m ph4-l flex items-start items-center-l
      mb3 pb3 bb">

      <i aria-hidden="true"
         class="f3 fa fa-angle-right mr3
                Checklist__icon"></i>

      <div class="flex flex-column flex-wrap flex-row-ns w-100-l f5 f4-l items-center">

        <div class="ff-hnb f5 f4-l w-100 w-40-l">
          TED gift bag
        </div>

          <div class="mt2 mt0-l ff-hn w-100 w-60-l
                      Checklist__description">
            Hand-picked by TED and our partners
          </div>

      </div>

    </div>


    <div class="Checklist__item ph0 ph3-m ph4-l flex items-start items-center-l
      ">

      <i aria-hidden="true"
         class="f3 fa fa-angle-right mr3
                Checklist__icon"></i>

      <div class="flex flex-column flex-wrap flex-row-ns w-100-l f5 f4-l items-center">

        <div class="ff-hnb f5 f4-l w-100 w-40-l">
          TEDConnect
        </div>

          <div class="mt2 mt0-l ff-hn w-100 w-60-l
                      Checklist__description">
            Our award-winning app for meeting other attendees
          </div>

      </div>

    </div>

</div>

    </div>
  </div>
</div>

<div class="Image-ribbon flex flex-column flex-row-ns">
    <div
      class="w-100 h5 h6-l h7-xl h7-xxl bg-cv bg-pos-xy-center"
      style="background-image: url(https://pi.tedcdn.com/r/ted2019.ted.com/assets/ted2019/ribbons/TED2017_042617_1BH4180-a209b00124d0cb85cb51b052fc3c18f4c7ad3fdbf262e28fd2f0e6fb32b0c912.jpg?quality=77&amp;w=960);"
    ></div>
    <div
      class="w-100 h5 h6-l h7-xl h7-xxl bg-cv bg-pos-xy-center"
      style="background-image: url(https://pi.tedcdn.com/r/ted2019.ted.com/assets/ted2019/ribbons/TED2017_042617_1BH3495-1eb9e5cee8fb5e74bdac344d2730958d16d48fa9c4c415905e1b43dd2360243e.jpg?quality=77&amp;w=960);"
    ></div>
</div>


<div id="testimonials" class="bg-cv bg-pos-xy-center pv5 pv6-l ph4 ph5-ns white ff-hn bg-t19-blue" data-tracked="false">
  <div class="mw-1200px center">
    <h2 class="mb4 f2 f1-l lh-title tc">
      What’s it like to attend?
    </h2>

    <div>
      <blockquote class="bg-black-25 pa4 quote-left mb3 f4 q-contain center lh-copy">
        &quot;I was expecting to be intellectually stimulated, but I was surprised by the level of emotional connection in the talks and in the conversations with other attendees.  I made new friends from around the world, and my faith in humanity and community was refreshed.&quot;
      </blockquote>

      <cite class="q-cite flex flex-row items-center q-contain center pt2 mb4 f4">
        Shawn Neely
      </cite>

      <blockquote class="bg-black-25 pa4 quote-left mb3 f4 q-contain center lh-copy">
        &quot;I can honestly say that TED was one of the best weeks of my life all around.&quot;
      </blockquote>

      <cite class="q-cite flex flex-row items-center q-contain center pt2 mb4 f4">
        Nadine Weil
      </cite>

      <blockquote class="bg-black-25 pa4 quote-left mb3 f4 q-contain center lh-copy">
        &quot;Always love TED. Love the people. The connections. The ideas. Always stay humble for weeks around what I learned, because meeting all these people and watching all these talks have impact well beyond my ability to understand them.&quot;
      </blockquote>

      <cite class="q-cite flex flex-row items-center q-contain center pt2 mb4 f4">
        Mats Lederhausen
      </cite>
    </div>
  </div>
</div>

<div class="Image-ribbon flex flex-column flex-row-ns">
    <div
      class="w-100 h5 h6-l h7-xl h7-xxl bg-cv bg-pos-xy-center"
      style="background-image: url(https://pi.tedcdn.com/r/ted2019.ted.com/assets/ted2019/ribbons/TED2017_042717_3RL9094-87483c662623f047e022860b9e1ede9600791a61a97f719cdccf55960e6277f3.jpg?quality=77&amp;w=960);"
    ></div>
    <div
      class="w-100 h5 h6-l h7-xl h7-xxl bg-cv bg-pos-xy-center"
      style="background-image: url(https://pi.tedcdn.com/r/ted2019.ted.com/assets/ted2019/ribbons/TED2017_042717_3RL8848-eb876d5d2f0fa4c4a0283276d7c28f275d5ed8cfeb25cd87029216e381d9360c.jpg?quality=77&amp;w=960);"
    ></div>
</div>


<div id="social" class="pv6 ph4 ph5-ns bg-t19-green white" data-tracked="false">
  <div class="mw-1200px center">
    <h2 class="f2 lh-title tc mb3">
      #TED2019
    </h2>

    <p class="f4 f3-l lh-copy mb4 tc Serif">
      Follow TED on social media for live and behind-the-scenes coverage!
    </p>

    <div class="mw6 flex justify-between content-center f2 center">
      <a href="https://www.facebook.com/TED"
        class="social-link db white bg-black-05 w3 h3 br-100 flex justify-center content-center items-center"
        data-label="Facebook">
        <i class="fa fa-facebook"></i>
      </a>

      <a href="https://www.instagram.com/ted/"
        class="social-link db white bg-black-05 w3 h3 br-100 flex justify-center content-center items-center"
        data-label="Instagram">
        <i class="fa fa-instagram"></i>
      </a>

      <a href="https://twitter.com/TEDTalks"
        class="social-link db white bg-black-05 w3 h3 br-100 flex justify-center content-center items-center"
        data-label="Twitter">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
</div>

<div class="Image-ribbon flex flex-column flex-row-ns">
    <div
      class="w-100 h5 h6-l h7-xl h7-xxl bg-cv bg-pos-xy-center"
      style="background-image: url(https://pi.tedcdn.com/r/ted2019.ted.com/assets/ted2019/ribbons/TED2017_042517_1BH9245-a9e007d88b2fb81ff7f41604fbc96a0b4d44c8e269173858aa9e325ff1673908.jpg?quality=77&amp;w=960);"
    ></div>
    <div
      class="w-100 h5 h6-l h7-xl h7-xxl bg-cv bg-pos-xy-center"
      style="background-image: url(https://pi.tedcdn.com/r/ted2019.ted.com/assets/ted2019/ribbons/TED2017_042417_3RL3429-bc8e6b86e91298e642367597730723453610d8b2a941874be333d4da244a99df.jpg?quality=77&amp;w=960);"
    ></div>
</div>


<div class="dn bg-violet--dark ph4 pv6">
  <div class="mw6 center">
    <div data-begin-at="Mon, 15 Apr 2019 16:00:00 +0000"
     class="Countdown flex justify-between center-items align-center tc ff-hn
            white">

  <div>
    <div class="Countdown__days mb1 ff-hnb"></div>
    <div class="f5 ttu ff-ssl Countdown__label">
      Days
    </div>
  </div>

  <div>
    <div class="Countdown__hours mb1 ff-hnb"></div>
    <div class="f5 ttu ff-ssl Countdown__label">
      Hours
    </div>
  </div>

  <div>
    <div class="Countdown__minutes mb1 ff-hnb"></div>
    <div class="f5 ttu ff-ssl Countdown__label">
      Minutes
    </div>
  </div>

  <div>
    <div class="Countdown__seconds mb1 ff-hnb"></div>
    <div class="f5 ttu ff-ssl Countdown__label">
      Seconds
    </div>
  </div>

</div>

  </div>
</div>

<div id="location" class="ph4 pv5 pv6-l" data-tracked="false">
  <div class="mw8 center">
    <h2 class="f3 f2-l lh-title mb4 tc">
      Our location: Vancouver Convention Centre
    </h2>

    <p class="mb3 f4 f3-l lh-copy tl Serif">
      Vancouver Convention Centre offers both scale and intimacy. At its heart is a soaring space where TED's stage designers
      have created a custom theater designed to maximize the impact of talks, permitting multiple configurations for sitting,
      listening and connecting with the speaker — a bold rethinking of the conference experience.
    </p>
  </div>
</div>

<div class="flex flex-column flex-row-ns">
  <div class="w-100 h5 h6-l h7-xl h7-xxl bg-cv" style="background-image: url(https://pi.tedcdn.com/r/ted2019.ted.com/assets/ted2018/venue-fe18949a7965109f6a3cb50523cbbbe935b399a9be3f964f39d56c0bb7b69970.jpg?);">
</div>

  <div class="Map w-100 h5 h6-l h7-xl h7-xxl" id="map"></div>

<script type="text/javascript">

var map;
var service;
var infowindow;


function placesCallback(results, status) {
  if (status == google.maps.places.PlacesServiceStatus.OK) {
    createMarker(results);
  }
}

function createMarker(place) {
  var placeLoc = place.geometry.location;
  var marker = new google.maps.Marker({
    map: map,
    position: place.geometry.location
  });

  google.maps.event.addListener(marker, 'click', function() {
    infowindow.setContent(place.name);
    infowindow.open(map, this);
  });
}


function initMap() {

  var styles = [
    {
      featureType: 'road.all',
      elementType: '',
      stylers: [
        {hue: ''},
        {saturation: ''},
        {lightness: ''},
        // etc...
      ]
    },
    {
      featureType: '',
      // etc...
    }
  ];

  var mapOptions = {
    zoom: 13,
    maxZoom: 13,
    minZoom: 13,
    zoomControl: false,
    draggable: false,
    center: {
      lat: 49.289167,
      lng: -123.1137972
    },
    disableDefaultUI: false,
    mapTypeControl: true,
    mapTypeControlOptions: {
      style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
      mapTypeIds: [
        google.maps.MapTypeId.ROADMAP,
        google.maps.MapTypeId.TERRAIN
      ]
    },
    scrollwheel: false
  };

  var request = {
    placeId: 'ChIJh1duaoNxhlQRvaKkKGzJziQ'
  };

  infowindow = new google.maps.InfoWindow();
  map = new google.maps.Map(document.getElementById('map'), mapOptions);

  service = new google.maps.places.PlacesService(map);
  service.getDetails(request, placesCallback);
}


</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnlxBkqOOVubeyXJghC2S21BXPWKVFZ50&libraries=places&callback=initMap"></script>


</div>

<div id="subscribe" class="ph4 pv5 pv6-l bg-t19-blue white" data-tracked="false">
  <div class="mw-1200px center">

    <h1 class="mb4 f3 f2-l lh-title tc">
      Subscribe to stay up to date
    </h1>

    <p class="mb5 f5 f3-l lh-copy tc Serif">
      Sign up to be the first to know about TED Conferences and special events.
    </p>

    
<form
      action="//ted.us1.list-manage.com/subscribe/post?u=07487d1456302a286cf9c4ccc&amp;amp;id=437c29daeb"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="Newsletter mw6 center"
      target="_blank"
      novalidate>

  <div class="flex flex-column flex-row-ns">
    <input type="email"
           value=""
           name="EMAIL"
           id="mce-EMAIL"
           placeholder="Enter your email address"
           class="Newsletter__input w-70-ns mb3 mb0-ns bw0 pa3 f3"
           required />

    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_07487d1456302a286cf9c4ccc_437c29daeb" tabindex="-1" value=""></div>

    <input type="submit"
           value="Subscribe"
           name="subscribe"
           id="mc-embedded-subscribe"
           class="Newsletter__button w-30-ns pa3 pa0-ns bw0 f3 ff-hnb" />
  </div>
</form>


  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40781755-2', 'ted.com');
  ga('send', 'pageview');
</script>





    <div class="pv5 ph3 bg-dark-gray">
      <div class="footer-menu flex flex-column flex-row-ns items-center-ns justify-center-ns mb4">
        <a class="white link mb2 mh3-ns" href="https://www.ted.com">TED.com</a>
        <a class="white link mb2 mh3-ns" href="https://support.ted.com/hc/en-us/requests/new">Contact</a>
        <a class="white link mb2 mh3-ns" href="http://support.ted.com/">Help</a>
        <a class="white link mb2 mh3-ns" href="http://www.ted.com/about/our-organization/our-policies-terms/ted-com-terms-of-use">Terms of use</a>
        <a class="white link mb2 mh3-ns" href="http://www.ted.com/about/our-organization/our-policies-terms/privacy-policy">Privacy policy</a>
        <a class="white link mb2 mh3-ns" href="http://www.ted.com/dashboard/conferences/t2019">Attendee dashboard</a>
        <a class="white link mb2 mh3-ns" href="https://www.ted.com/attend/conferences">More TED events</a>
      </div>
      <div class="tc-ns white">
        &copy; 2018 TED Conferences, LLC.
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40781755-2', 'ted.com');
      ga('send', 'pageview');
    </script>
    <script>(function(d,s,u,e,m,r){r=(d.location.search||'').match(/[?&](geo=[A-Z]{2})\b/);e=d.createElement(s),m=d.getElementsByTagName(s)[0];e.async=1;e.src=u+(r?'&'+r[1]:'');m.parentNode.insertBefore(e,m)})(document,'script','https://geo-assets.tedcdn.com/cookie-notice/tcn.js?cb=1.1.0')</script>
  </body>
</html>
